.contentFont
{
    font-family: "Azeret Mono", monospace;
    font-size: small;
    font-weight: 16;
}
.header
{
    text-align: center;
    background-image: url(assets/Hero-bg.png);
    height: 45%;
}
.hTitle
{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.headerContent
{
    padding: 50px 20vh 5px;
    padding-bottom: 30px;
}
#headButton
{
    padding: 10px;
    background-color: #0D1321;
    font-size: medium;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 3vh;
}
#contentAlignment
{
    margin-left: 7vw;
    margin-right: 7vw;
}
#midContent
{
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 1%;
    padding: 3% 10% 3% 10%;
}
.innerCard
{
    border-radius: 10px;
    display: flex;
    background-color: #ffff;
    justify-content: space-between;
    padding: 3vh 7vh 1vh;
    margin-bottom: 2vh;
}
.cardContent
{
    width: 47%;
}
.cardButton
{
    padding: 10px 20px;  
    font: 400;
    color: #0D1321;
    background-color: white;
    text-decoration: none;
    border: solid 1px black;
}
.iCard
{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 7vh;
    margin-top: 10vh;
}
.media
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-color: #0D1321;
    border-style: solid;
    border-width: thin;
    width: fit-content;
    padding: 25px;
    border-radius: 10px;
}
#skillContain
{
    display: flex;
    /* padding-left: 15%;
    padding-right: 15%; */
    gap: 20px;
}
.skillCard
{
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
.footerSection
{
    background-image: url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 10vh;
    font-size: large;
    color: #ffff;
    border-radius: 10px;
    text-align: center;
}
#inputBox
{
    height: 15px;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}
.sub
{
    padding: 9px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#last
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
}
.iconConfig
{
    height: 35px;
    width: 35px;
    margin-left: 1vw;
}